doctype html
html
  head
    title= title
    include stylesheets.pug
  body
    include nav.pug
    h1= title
    .products
      each pastry in pastries
        p #{pastry.name}: $#{pastry.price} each